  _        _    ____   ____ _____   ___ _   _ _____ ____   ___    ____  _____ ____ _____ ___ ___  _   _ 
      | |      / \  |  _ \ / ___| ____| |_ _| \ | |_   _|  _ \ / _ \  / ___|| ____/ ___|_   _|_ _/ _ \| \ | |
      | |     / _ \ | |_) | |  _|  _|    | ||  \| | | | | |_) | | | | \___ \|  _|| |     | |  | | | | |  \| |
      | |___ / ___ \|  _ <| |_| | |___   | || |\  | | | |  _ <| |_| |  ___) | |__| |___  | |  | | |_| | |\  |
      |_____/_/   \_\_| \_\\____|_____| |___|_| \_| |_| |_| \_\\___/  |____/|_____\____| |_| |___\___/|_| \_|
          
  div.amen*6    
      <div class="about-me">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Dignissim enim sit amet venenatis urna. Non nisi est sit amet facilisis. Rutrum quisque non tellus orci ac. 
        Tempus egestas sed sed risus pretium quam vulputate. Mi in nulla posuere sollicitudin aliquam ultrices. 
        Lacus laoreet non curabitur gravida arcu ac tortor dignissim. Enim tortor at auctor urna nunc id. 
        Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Ac auctor augue mauris augue neque. Libero volutpat sed cras ornare. 
        Ut lectus arcu bibendum at varius. Mi quis hendrerit dolor magna eget est. Ac turpis egestas sed tempus urna. 
        Auctor elit sed vulputate mi sit amet mauris commodo quis. Sit amet porttitor eget dolor morbi non arcu risus quis.
        Diam vulputate ut pharetra sit amet aliquam. Bibendum neque egestas congue quisque egestas diam.
        Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Maecenas ultricies mi eget mauris pharetra et ultrices neque ornare. 
        Iaculis at erat pellentesque adipiscing. Turpis in eu mi bibendum neque egestas. Porttitor leo a diam sollicitudin tempor id.
        Congue quisque egestas diam in arcu. Vulputate enim nulla aliquet porttitor lacus luctus. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus. 
        Malesuada bibendum arcu vitae elementum curabitur vitae nunc. Sit amet consectetur adipiscing elit ut aliquam purus sit. 
        In aliquam sem fringilla ut morbi tincidunt augue. Eu mi bibendum neque egestas congue quisque egestas diam. Ac turpis egestas integer eget aliquet nibh praesent.
        Integer eget aliquet nibh praesent tristique magna. Eget nullam non nisi est sit amet facilisis. Interdum posuere lorem ipsum dolor sit amet.
      </div>